In [9]:
import pandas as pd

df_pt1 = pd.read_csv('df_final_web_data_pt_1.txt')
df_pt2 = pd.read_csv('df_final_web_data_pt_2.txt')
df_experi = pd.read_csv('df_final_experiment_clients.txt')
df_demo = pd.read_csv('df_final_demo.txt')
pd.set_option('display.max_rows',1000)

In [11]:
df_pt1.isnull().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [52]:
df_pt2.isnull().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [13]:
# combine original 3 data files: df_pt1 + df_pt2 + final_experiment 
df_12 = pd.concat([df_pt1,df_pt2],ignore_index=True)
df_12

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [15]:
df_experi

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [17]:
df_demo

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [19]:
df_experi_nonan = df_experi.dropna(subset=['Variation'])
df_experi_nonan.isnull().sum()

client_id    0
Variation    0
dtype: int64

In [21]:
df_experi_nonan

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
50495     393005   Control
50496    2908510   Control
50497    7230446      Test
50498    5230357      Test
50499    6334360      Test

[50500 rows x 2 columns]

In [29]:
df_merged_12_experi = pd.merge(df_12,df_experi, on='client_id',how='outer')
df_merged_12_experi

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09,NaN
1,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05,NaN
2,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31,NaN
3,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45,NaN
4,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36,NaN
...,...,...,...,...,...,...
755400,9999875,738878760_1556639849,931268933_219402947_599432,step_3,2017-06-01 22:44:58,NaN
755401,9999875,738878760_1556639849,931268933_219402947_599432,step_2,2017-06-01 22:41:47,NaN
755402,9999875,738878760_1556639849,931268933_219402947_599432,step_1,2017-06-01 22:41:28,NaN
755403,9999875,738878760_1556639849,931268933_219402947_599432,step_1,2017-06-01 22:40:08,NaN
755404,9999875,738878760_1556639849,931268933_219402947_599432,start,2017-06-01 22:40:01,NaN

In [31]:
df_merged_12_experi = pd.merge(df_12,df_experi_nonan, on='client_id',how='inner')
df_merged_12_experi

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test
...,...,...,...,...,...,...
321304,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,Test
321305,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,Control
321306,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,Control
321307,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,Control
321308,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,Control

In [33]:

duplicates = df_merged_12_experi[df_merged_12_experi.duplicated(keep=False)]
duplicates

,client_id,visitor_id,visit_id,process_step,date_time,Variation
361,9358626,148475529_63668223960,223297395_36250329195_832161,start,2017-04-28 12:27:28,Control
362,9358626,148475529_63668223960,223297395_36250329195_832161,start,2017-04-28 12:27:28,Control
364,5376894,622509328_44408201172,688984457_43441834354_912755,start,2017-04-28 14:20:01,Test
365,5376894,622509328_44408201172,688984457_43441834354_912755,start,2017-04-28 14:20:01,Test
379,438567,923318467_50708963627,330543236_29863358529_771432,start,2017-04-28 02:52:29,Test
...,...,...,...,...,...,...
321274,1129748,27929904_9079935779,974922467_42594903952_165673,start,2017-05-08 20:22:19,Control
321275,1129748,27929904_9079935779,974922467_42594903952_165673,start,2017-05-08 20:20:59,Control
321276,1129748,27929904_9079935779,974922467_42594903952_165673,start,2017-05-08 20:20:59,Control
321298,7049106,710348688_12741653529,412278907_8949064401_171038,start,2017-05-20 23:07:09,Test
321299,7049106,710348688_12741653529,412278907_8949064401_171038,start,2017-05-20 23:07:09,Test

In [35]:
# totally remove 10764 useless duplicatd rows from above 
df_merged_unique = df_merged_12_experi.drop_duplicates(keep='first')

In [37]:
df_merged_unique

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test
...,...,...,...,...,...,...
321304,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,Test
321305,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,Control
321306,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,Control
321307,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,Control
321308,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,Control

In [45]:
df_merged_unique_demo = pd.merge(df_merged_unique,df_demo, on='client_id',how='inner')
df_merged_unique_demo

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317230,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,Test,10.0,121.0,55.0,U,2.0,153238.83,3.0,6.0
317231,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0
317232,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0
317233,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0
317234,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0

In [47]:

duplicates2 = df_merged_unique_demo[df_merged_unique_demo.duplicated(keep=False)]
duplicates2

Empty DataFrame
Columns: [client_id, visitor_id, visit_id, process_step, date_time, Variation, clnt_tenure_yr, clnt_tenure_mnth, clnt_age, gendr, num_accts, bal, calls_6_mnth, logons_6_mnth]
Index: []

In [49]:
df_merged_unique_demo.isnull().sum()

client_id             0
visitor_id            0
visit_id              0
process_step          0
date_time             0
Variation             0
clnt_tenure_yr      100
clnt_tenure_mnth    100
clnt_age            112
gendr               100
num_accts           100
bal                 100
calls_6_mnth        100
logons_6_mnth       100
dtype: int64

In [51]:
rows_with_nulls = df_merged_unique_demo[df_merged_unique_demo.isnull().any(axis=1)]
rows_with_nulls

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
24845,8191345,944604426_90275839905,820326455_18678690741_410378,confirm,2017-03-22 12:45:19,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24868,8191345,944604426_90275839905,820326455_18678690741_410378,step_3,2017-03-22 12:44:07,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24869,8191345,944604426_90275839905,820326455_18678690741_410378,step_2,2017-03-22 12:43:04,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24870,8191345,944604426_90275839905,820326455_18678690741_410378,step_1,2017-03-22 12:42:57,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24871,8191345,944604426_90275839905,820326455_18678690741_410378,start,2017-03-22 12:42:52,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24872,8191345,944604426_90275839905,820326455_18678690741_410378,start,2017-03-22 12:39:46,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24873,8191345,944604426_90275839905,820326455_18678690741_410378,step_1,2017-03-22 12:39:18,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24874,8191345,944604426_90275839905,820326455_18678690741_410378,start,2017-03-22 12:39:06,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34070,5144725,77028087_25004614436,212833889_61935064865_350020,confirm,2017-04-03 10:17:55,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34072,5144725,439828714_96441655584,823358855_28861549260_454037,confirm,2017-03-29 15:33:25,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34073,5144725,439828714_96441655584,823358855_28861549260_454037,step_3,2017-03-29 15:31:41,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34074,5144725,439828714_96441655584,823358855_28861549260_454037,step_2,2017-03-29 15:30:19,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34075,5144725,439828714_96441655584,823358855_28861549260_454037,step_1,2017-03-29 15:29:59,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34076,5144725,439828714_96441655584,823358855_28861549260_454037,start,2017-03-29 15:29:55,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34077,5144725,439828714_96441655584,823358855_28861549260_454037,step_1,2017-03-29 15:27:11,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34078,5144725,439828714_96441655584,823358855_28861549260_454037,start,2017-03-29 15:27:06,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34079,5144725,439828714_96441655584,823358855_28861549260_454037,step_1,2017-03-29 15:22:48,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34080,5144725,439828714_96441655584,823358855_28861549260_454037,start,2017-03-29 15:22:41,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34081,5144725,439828714_96441655584,823358855_28861549260_454037,start,2017-03-29 15:21:41,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34082,5144725,439828714_96441655584,813194461_44070486496_8272,start,2017-03-28 19:05:40,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34083,5144725,439828714_96441655584,813194461_44070486496_8272,start,2017-03-28 19:05:22,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34084,5144725,439828714_96441655584,813194461_44070486496_8272,start,2017-03-28 19:04:06,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42693,7616759,163734668_41424245089,937993340_62276651664_990789,step_1,2017-04-04 09:14:11,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42694,7616759,163734668_41424245089,937993340_62276651664_990789,start,2017-04-04 09:14:07,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42695,7616759,163734668_41424245089,937993340_62276651664_990789,confirm,2017-04-04 09:12:22,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42696,7616759,163734668_41424245089,937993340_62276651664_990789,step_3,2017-04-04 09:11:56,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42697,7616759,163734668_41424245089,937993340_62276651664_990789,step_2,2017-04-04 09:10:50,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42698,7616759,163734668_41424245089,937993340_62276651664_990789,step_1,2017-04-04 09:10:28,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42699,7616759,163734668_41424245089,937993340_62276651664_990789,start,2017-04-04 09:10:20,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89564,2222915,232369981_86819110540,299181512_47491638100_710672,step_1,2017-04-04 03:00:38,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89565,2222915,232369981_86819110540,299181512_47491638100_710672,start,2017-04-04 03:00:27,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92760,5277910,899258602_23203185641,706872300_70338726354_378272,confirm,2017-04-19 16:15:15,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92761,5277910,899258602_23203185641,706872300_70338726354_378272,step_3,2017-04-19 16:13:36,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92762,5277910,899258602_23203185641,706872300_70338726354_378272,step_2,2017-04-19 16:09:41,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92763,5277910,899258602_23203185641,706872300_70338726354_378272,step_1,2017-04-19 16:09:02,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92764,5277910,899258602_23203185641,706872300_70338726354_378272,start,2017-04-19 16:08:55,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113082,8412164,363910382_5410813966,856002543_91669371468_294973,step_2,2017-04-05 11:33:32,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113083,8412164,363910382_5410813966,856002543_91669371468_294973,step_1,2017-04-05 11:32:37,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113084,8412164,363910382_5410813966,856002543_91669371468_294973,start,2017-04-05 11:32:31,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113207,8412164,363910382_5410813966,203791595_2652932065_382584,step_2,2017-04-19 12:03:44,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113208,8412164,363910382_5410813966,203791595_2652932065_382584,step_1,2017-04-19 12:03:17,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113209,8412164,363910382_5410813966,203791595_2652932065_382584,start,2017-04-19 12:03:11,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172616,355337,356086957_61575869345,212014250_505501047_320862,confirm,2017-04-03 18:36:45,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172617,355337,356086957_61575869345,212014250_505501047_320862,step_3,2017-04-03 18:25:15,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172618,355337,356086957_61575869345,212014250_505501047_320862,step_2,2017-04-03 18:24:26,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172619,355337,356086957_61575869345,212014250_505501047_320862,step_1,2017-04-03 18:23:23,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172620,355337,356086957_61575869345,212014250_505501047_320862,start,2017-04-03 18:22:58,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183335,4666211,856388890_23198552132,740801132_41889378563_243921,confirm,2017-04-09 08:20:50,Control,8.0,106.0,NaN,F,2.0,42550.55,4.0,7.0
183336,4666211,856388890_23198552132,740801132_41889378563_243921,step_3,2017-04-09 08:17:16,Control,8.0,106.0,NaN,F,2.0,42550.55,4.0,7.0
183337,4666211,856388890_23198552132,740801132_41889378563_243921,step_2,2017-04-09 08:17:09,Control,8.0,106.0,NaN,F,2.0,42550.55,4.0,7.0
183338,4666211,856388890_23198552132,740801132_41889378563_243921,step_1,2017-04-09 08:17:04,Control,8.0,106.0,NaN,F,2.0,42550.55,4.0,7.0
183339,4666211,856388890_23198552132,740801132_41889378563_243921,start,2017-04-09 08:14:13,Control,8.0,106.0,NaN,F,2.0,42550.55,4.0,7.0
183340,4666211,856388890_23198552132,740801132_41889378563_243921,start,2017-04-09 08:13:46,Control,8.0,106.0,NaN,F,2.0,42550.55,4.0,7.0
183377,4666211,856388890_23198552132,193475184_47241294073_678330,start,2017-03-31 07:32:21,Control,8.0,106.0,NaN,F,2.0,42550.55,4.0,7.0
183378,4666211,856388890_23198552132,193475184_47241294073_678330,start,2017-03-31 07:32:08,Control,8.0,106.0,NaN,F,2.0,42550.55,4.0,7.0
183379,4666211,856388890_23198552132,193475184_47241294073_678330,step_3,2017-03-31 07:26:36,Control,8.0,106.0,NaN,F,2.0,42550.55,4.0,7.0
183380,4666211,856388890_23198552132,193475184_47241294073_678330,step_2,2017-03-31 07:26:05,Control,8.0,106.0,NaN,F,2.0,42550.55,4.0,7.0
183381,4666211,856388890_23198552132,193475184_47241294073_678330,step_1,2017-03-31 07:25:15,Control,8.0,106.0,NaN,F,2.0,42550.55,4.0,7.0
183382,4666211,856388890_23198552132,193475184_47241294073_678330,start,2017-03-31 07:24:38,Control,8.0,106.0,NaN,F,2.0,42550.55,4.0,7.0
183559,1227228,717717957_94848423658,597593059_58445581210_576720,start,2017-03-31 17:00:08,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183560,1227228,717717957_94848423658,597593059_58445581210_576720,start,2017-03-31 16:59:56,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183561,1227228,717717957_94848423658,597593059_58445581210_576720,start,2017-03-31 16:58:50,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228672,1037867,640011726_59235024353,287564170_99439536173_41542,confirm,2017-03-29 20:18:43,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228673,1037867,640011726_59235024353,287564170_99439536173_41542,step_3,2017-03-29 20:17:58,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228674,1037867,640011726_59235024353,287564170_99439536173_41542,step_2,2017-03-29 20:16:34,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228675,1037867,640011726_59235024353,287564170_99439536173_41542,step_1,2017-03-29 20:16:10,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228676,1037867,640011726_59235024353,287564170_99439536173_41542,start,2017-03-29 20:16:06,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228679,1037867,838248546_66149171662,538106266_99742945302_665234,step_3,2017-03-29 11:14:52,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228680,1037867,838248546_66149171662,538106266_99742945302_665234,step_2,2017-03-29 11:13:32,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228681,1037867,838248546_66149171662,538106266_99742945302_665234,step_1,2017-03-29 11:11:14,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228682,1037867,838248546_66149171662,538106266_99742945302_665234,step_2,2017-03-29 11:11:12,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228683,1037867,838248546_66149171662,538106266_99742945302_665234,step_1,2017-03-29 11:10:02,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228684,1037867,838248546_66149171662,538106266_99742945302_665234,step_1,2017-03-29 11:09:31,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228685,1037867,838248546_66149171662,538106266_99742945302_665234,start,2017-03-29 11:09:24,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294995,8611797,711014164_80466214353,318537213_94820175261_243382,confirm,2017-05-09 21:28:52,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294996,8611797,711014164_80466214353,318537213_94820175261_243382,step_3,2017-05-09 21:28:28,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294997,8611797,711014164_80466214353,318537213_94820175261_243382,step_2,2017-05-09 21:27:50,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294998,8611797,711014164_80466214353,318537213_94820175261_243382,step_1,2017-05-09 21:27:40,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294999,8611797,711014164_80466214353,318537213_94820175261_243382,start,2017-05-09 21:27:34,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295000,8611797,711014164_80466214353,318537213_94820175261_243382,start,2017-05-09 21:27:08,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295001,8611797,711014164_80466214353,318537213_94820175261_243382,step_3,2017-05-09 21:26:09,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295002,8611797,711014164_80466214353,318537213_94820175261_243382,step_2,2017-05-09 21:24:55,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295003,8611797,711014164_80466214353,318537213_94820175261_243382,step_1,2017-05-09 21:24:44,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295004,8611797,711014164_80466214353,318537213_94820175261_243382,start,2017-05-09 21:24:38,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298713,1227228,212723119_51336933446,84846757_96386091111_853351,confirm,2017-05-06 11:10:30,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298714,1227228,212723119_51336933446,84846757_96386091111_853351,step_3,2017-05-06 11:09:39,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298715,1227228,212723119_51336933446,84846757_96386091111_853351,step_2,2017-05-06 11:08:41,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298716,1227228,212723119_51336933446,84846757_96386091111_853351,step_1,2017-05-06 11:08:36,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298717,1227228,212723119_51336933446,84846757_96386091111_853351,start,2017-05-06 11:08:32,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298718,1227228,717717957_94848423658,22305984_68463282813_415901,step_2,2017-05-06 11:00:07,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298719,1227228,717717957_94848423658,22305984_68463282813_415901,step_1,2017-05-06 10:59:56,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298720,1227228,717717957_94848423658,22305984_68463282813_415901,start,2017-05-06 10:59:47,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314464,7402828,681562386_19464325694,244192970_75261991996_299354,confirm,2017-06-15 21:41:10,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314465,7402828,681562386_19464325694,244192970_75261991996_299354,step_3,2017-06-15 21:40:22,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314466,7402828,681562386_19464325694,244192970_75261991996_299354,step_2,2017-06-15 21:37:09,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314467,7402828,681562386_19464325694,244192970_75261991996_299354,step_1,2017-06-15 21:36:59,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314468,7402828,681562386_19464325694,244192970_75261991996_299354,start,2017-06-15 21:36:23,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314469,7402828,681562386_19464325694,244192970_75261991996_299354,start,2017-06-15 21:35:40,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314470,7402828,681562386_19464325694,244192970_75261991996_299354,start,2017-06-15 21:34:34,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314471,7402828,681562386_19464325694,244192970_75261991996_299354,start,2017-06-15 21:33:41,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314472,7402828,681562386_19464325694,244192970_75261991996_299354,step_2,2017-06-15 21:32:21,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314473,7402828,681562386_19464325694,244192970_75261991996_299354,step_1,2017-06-15 21:32:04,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314474,7402828,681562386_19464325694,244192970_75261991996_299354,start,2017-06-15 21:31:52,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314498,7402828,681562386_19464325694,679577315_3293609994_694147,confirm,2017-06-18 21:30:16,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316037,4876926,680209467_92142056908,115777209_75813085126_62489,confirm,2017-06-19 12:16:11,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316038,4876926,680209467_92142056908,115777209_75813085126_62489,step_3,2017-06-19 12:15:38,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316039,4876926,680209467_92142056908,115777209_75813085126_62489,step_2,2017-06-19 12:15:09,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316040,4876926,680209467_92142056908,115777209_75813085126_62489,step_1,2017-06-19 12:15:06,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316041,4876926,680209467_92142056908,115777209_75813085126_62489,start,2017-06-19 12:15:03,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316042,4876926,71773405_65341811270,709726544_16357780981_273930,step_2,2017-06-19 12:09:16,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316043,4876926,71773405_65341811270,709726544_16357780981_273930,step_1,2017-06-19 12:08:58,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316044,4876926,71773405_65341811270,709726544_16357780981_273930,start,2017-06-19 12:08:50,Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
df_merged_unique_demo['gendr'] = df_merged_unique_demo['gendr'].replace({"X":"Unknown","U":"Unknown"})
df_merged_unique_demo['gendr'].value_counts()

gendr
Unknown    107622
M          106703
F          102810
Name: count, dtype: int64

In [57]:
df_all = df_merged_unique_demo

In [59]:
df_all

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test,5.0,64.0,79.0,Unknown,2.0,189023.86,1.0,4.0
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test,5.0,64.0,79.0,Unknown,2.0,189023.86,1.0,4.0
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test,5.0,64.0,79.0,Unknown,2.0,189023.86,1.0,4.0
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test,5.0,64.0,79.0,Unknown,2.0,189023.86,1.0,4.0
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test,5.0,64.0,79.0,Unknown,2.0,189023.86,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317230,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,Test,10.0,121.0,55.0,Unknown,2.0,153238.83,3.0,6.0
317231,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0
317232,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0
317233,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0
317234,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0

In [122]:
# devide above last df into 2 group df( experient and non_experiment group)
df_control = df_all[df_all['Variation'] == "Control"]
df_test = df_all[df_all['Variation'] == "Test"]
df_control = df_control.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [124]:
df_control.head()

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:03,Control,12.0,149.0,63.5,M,2.0,142642.26,5.0,8.0
1,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:01,Control,12.0,149.0,63.5,M,2.0,142642.26,5.0,8.0
2,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:28:52,Control,12.0,149.0,63.5,M,2.0,142642.26,5.0,8.0
3,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:26:08,Control,12.0,149.0,63.5,M,2.0,142642.26,5.0,8.0
4,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:24:43,Control,12.0,149.0,63.5,M,2.0,142642.26,5.0,8.0

In [134]:
df_test.head(100)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test,5.0,64.0,79.0,Unknown,2.0,189023.86,1.0,4.0
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test,5.0,64.0,79.0,Unknown,2.0,189023.86,1.0,4.0
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test,5.0,64.0,79.0,Unknown,2.0,189023.86,1.0,4.0
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test,5.0,64.0,79.0,Unknown,2.0,189023.86,1.0,4.0
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test,5.0,64.0,79.0,Unknown,2.0,189023.86,1.0,4.0
5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:15,Test,5.0,64.0,79.0,Unknown,2.0,189023.86,1.0,4.0
6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17 15:17:01,Test,5.0,64.0,79.0,Unknown,2.0,189023.86,1.0,4.0
7,9988021,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:22,Test,5.0,64.0,79.0,Unknown,2.0,189023.86,1.0,4.0
8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:05,Test,22.0,274.0,34.5,M,2.0,36001.90,5.0,8.0
9,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05 13:09:43,Test,22.0,274.0,34.5,M,2.0,36001.90,5.0,8.0
10,8320017,39393514_33118319366,960651974_70596002104_312201,step_2,2017-04-05 13:08:40,Test,22.0,274.0,34.5,M,2.0,36001.90,5.0,8.0
11,8320017,39393514_33118319366,960651974_70596002104_312201,step_1,2017-04-05 13:08:24,Test,22.0,274.0,34.5,M,2.0,36001.90,5.0,8.0
12,8320017,39393514_33118319366,960651974_70596002104_312201,start,2017-04-05 13:08:06,Test,22.0,274.0,34.5,M,2.0,36001.90,5.0,8.0
13,1982004,618934751_10082078917,132494692_73738638511_70823,confirm,2017-04-17 12:02:42,Test,6.0,80.0,44.5,Unknown,2.0,30231.76,1.0,4.0
14,1982004,618934751_10082078917,132494692_73738638511_70823,step_3,2017-04-17 12:01:09,Test,6.0,80.0,44.5,Unknown,2.0,30231.76,1.0,4.0
15,1982004,618934751_10082078917,132494692_73738638511_70823,step_2,2017-04-17 12:00:01,Test,6.0,80.0,44.5,Unknown,2.0,30231.76,1.0,4.0
16,1982004,618934751_10082078917,132494692_73738638511_70823,step_1,2017-04-17 11:59:46,Test,6.0,80.0,44.5,Unknown,2.0,30231.76,1.0,4.0
17,1982004,618934751_10082078917,132494692_73738638511_70823,start,2017-04-17 11:59:42,Test,6.0,80.0,44.5,Unknown,2.0,30231.76,1.0,4.0
18,9466803,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:24:45,Test,11.0,137.0,27.0,F,2.0,46131.19,1.0,4.0
19,9466803,97277031_5793723360,812185460_4263902139_352107,step_2,2017-04-16 13:24:16,Test,11.0,137.0,27.0,F,2.0,46131.19,1.0,4.0
20,9466803,97277031_5793723360,812185460_4263902139_352107,step_1,2017-04-16 13:24:07,Test,11.0,137.0,27.0,F,2.0,46131.19,1.0,4.0
21,9466803,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:24:05,Test,11.0,137.0,27.0,F,2.0,46131.19,1.0,4.0
22,9466803,97277031_5793723360,812185460_4263902139_352107,step_1,2017-04-16 13:21:58,Test,11.0,137.0,27.0,F,2.0,46131.19,1.0,4.0
23,9466803,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:21:51,Test,11.0,137.0,27.0,F,2.0,46131.19,1.0,4.0
24,3170143,837774974_91015515080,758001412_25057963943_219559,confirm,2017-04-04 18:41:44,Test,21.0,254.0,53.5,F,2.0,192109.59,6.0,9.0
25,3170143,837774974_91015515080,758001412_25057963943_219559,step_3,2017-04-04 18:41:03,Test,21.0,254.0,53.5,F,2.0,192109.59,6.0,9.0
26,3170143,837774974_91015515080,758001412_25057963943_219559,step_2,2017-04-04 18:38:22,Test,21.0,254.0,53.5,F,2.0,192109.59,6.0,9.0
27,3170143,837774974_91015515080,758001412_25057963943_219559,step_1,2017-04-04 18:38:14,Test,21.0,254.0,53.5,F,2.0,192109.59,6.0,9.0
28,3170143,837774974_91015515080,758001412_25057963943_219559,start,2017-04-04 18:38:02,Test,21.0,254.0,53.5,F,2.0,192109.59,6.0,9.0
29,5887227,448202785_26003228044,458489157_53226123692_778999,confirm,2017-04-05 14:52:34,Test,6.0,79.0,32.5,Unknown,2.0,60274.39,1.0,4.0
30,5887227,448202785_26003228044,458489157_53226123692_778999,step_3,2017-04-05 14:50:41,Test,6.0,79.0,32.5,Unknown,2.0,60274.39,1.0,4.0
31,5887227,448202785_26003228044,458489157_53226123692_778999,step_2,2017-04-05 14:49:03,Test,6.0,79.0,32.5,Unknown,2.0,60274.39,1.0,4.0
32,5887227,448202785_26003228044,458489157_53226123692_778999,step_1,2017-04-05 14:47:36,Test,6.0,79.0,32.5,Unknown,2.0,60274.39,1.0,4.0
33,5887227,448202785_26003228044,458489157_53226123692_778999,start,2017-04-05 14:46:57,Test,6.0,79.0,32.5,Unknown,2.0,60274.39,1.0,4.0
34,5887227,448202785_26003228044,458489157_53226123692_778999,start,2017-04-05 14:45:43,Test,6.0,79.0,32.5,Unknown,2.0,60274.39,1.0,4.0
35,5887227,448202785_26003228044,458489157_53226123692_778999,start,2017-04-05 14:45:14,Test,6.0,79.0,32.5,Unknown,2.0,60274.39,1.0,4.0
36,438567,923318467_50708963627,711884648_43943594307_585328,step_1,2017-04-05 16:06:35,Test,15.0,186.0,38.0,M,2.0,89161.52,6.0,9.0
37,438567,923318467_50708963627,711884648_43943594307_585328,start,2017-04-05 16:04:44,Test,15.0,186.0,38.0,M,2.0,89161.52,6.0,9.0
38,438567,923318467_50708963627,711884648_43943594307_585328,start,2017-04-05 16:04:14,Test,15.0,186.0,38.0,M,2.0,89161.52,6.0,9.0
39,438567,923318467_50708963627,711884648_43943594307_585328,start,2017-04-05 16:03:59,Test,15.0,186.0,38.0,M,2.0,89161.52,6.0,9.0
40,2519971,121616091_57089151674,428599802_30402877972_724989,confirm,2017-04-10 16:21:37,Test,11.0,143.0,66.5,F,2.0,68259.87,2.0,6.0
41,2519971,121616091_57089151674,428599802_30402877972_724989,confirm,2017-04-10 16:19:47,Test,11.0,143.0,66.5,F,2.0,68259.87,2.0,6.0
42,5407849,419808108_25250476789,370129048_76114952835_698370,confirm,2017-04-05 11:02:44,Test,10.0,125.0,44.5,M,2.0,69476.89,1.0,4.0
43,5407849,419808108_25250476789,370129048_76114952835_698370,step_3,2017-04-05 11:02:11,Test,10.0,125.0,44.5,M,2.0,69476.89,1.0,4.0
44,5407849,419808108_25250476789,370129048_76114952835_698370,step_2,2017-04-05 11:01:39,Test,10.0,125.0,44.5,M,2.0,69476.89,1.0,4.0
45,5407849,419808108_25250476789,370129048_76114952835_698370,step_1,2017-04-05 11:01:34,Test,10.0,125.0,44.5,M,2.0,69476.89,1.0,4.0
46,5407849,419808108_25250476789,370129048_76114952835_698370,start,2017-04-05 11:01:32,Test,10.0,125.0,44.5,M,2.0,69476.89,1.0,4.0
47,5407849,419808108_25250476789,370129048_76114952835_698370,start,2017-04-05 11:01:00,Test,10.0,125.0,44.5,M,2.0,69476.89,1.0,4.0
48,5407849,419808108_25250476789,370129048_76114952835_698370,step_1,2017-04-05 11:00:18,Test,10.0,125.0,44.5,M,2.0,69476.89,1.0,4.0
49,5407849,419808108_25250476789,370129048_76114952835_698370,start,2017-04-05 11:00:10,Test,10.0,125.0,44.5,M,2.0,69476.89,1.0,4.0
50,5308474,68938533_80216431435,211880937_22137025437_345486,confirm,2017-04-04 21:43:15,Test,29.0,351.0,65.5,F,2.0,99180.12,6.0,9.0
51,5308474,68938533_80216431435,211880937_22137025437_345486,step_3,2017-04-04 21:41:09,Test,29.0,351.0,65.5,F,2.0,99180.12,6.0,9.0
52,5308474,68938533_80216431435,211880937_22137025437_345486,step_2,2017-04-04 21:40:48,Test,29.0,351.0,65.5,F,2.0,99180.12,6.0,9.0
53,5308474,68938533_80216431435,211880937_22137025437_345486,step_1,2017-04-04 21:40:00,Test,29.0,351.0,65.5,F,2.0,99180.12,6.0,9.0
54,5308474,68938533_80216431435,211880937_22137025437_345486,start,2017-04-04 21:39:53,Test,29.0,351.0,65.5,F,2.0,99180.12,6.0,9.0
55,5308474,159987558_35072951745,747648726_25210833404_578957,step_1,2017-04-04 21:33:58,Test,29.0,351.0,65.5,F,2.0,99180.12,6.0,9.0
56,5308474,159987558_35072951745,747648726_25210833404_578957,start,2017-04-04 21:33:54,Test,29.0,351.0,65.5,F,2.0,99180.12,6.0,9.0
57,5308474,159987558_35072951745,747648726_25210833404_578957,start,2017-04-04 21:31:25,Test,29.0,351.0,65.5,F,2.0,99180.12,6.0,9.0
58,5308474,159987558_35072951745,747648726_25210833404_578957,step_1,2017-04-04 21:26:58,Test,29.0,351.0,65.5,F,2.0,99180.12,6.0,9.0
59,5308474,159987558_35072951745,747648726_25210833404_578957,step_1,2017-04-04 21:25:32,Test,29.0,351.0,65.5,F,2.0,99180.12,6.0,9.0
60,5308474,159987558_35072951745,747648726_25210833404_578957,step_1,2017-04-04 21:24:01,Test,29.0,351.0,65.5,F,2.0,99180.12,6.0,9.0
61,5308474,159987558_35072951745,747648726_25210833404_578957,start,2017-04-04 21:23:55,Test,29.0,351.0,65.5,F,2.0,99180.12,6.0,9.0
62,5308474,159987558_35072951745,747648726_25210833404_578957,step_3,2017-04-04 21:13:36,Test,29.0,351.0,65.5,F,2.0,99180.12,6.0,9.0
63,2991219,969256799_34700581165,192468652_77504119553_874107,confirm,2017-04-02 22:15:26,Test,22.0,264.0,57.5,Unknown,2.0,99670.69,3.0,6.0
64,2354414,146216735_55070797578,71074670_81016907082_663028,confirm,2017-03-29 12:26:50,Test,7.0,87.0,38.5,Unknown,3.0,767141.47,2.0,5.0
65,2354414,146216735_55070797578,71074670_81016907082_663028,step_3,2017-03-29 12:25:39,Test,7.0,87.0,38.5,Unknown,3.0,767141.47,2.0,5.0
66,2354414,146216735_55070797578,71074670_81016907082_663028,step_2,2017-03-29 12:25:20,Test,7.0,87.0,38.5,Unknown,3.0,767141.47,2.0,5.0
67,2354414,146216735_55070797578,71074670_81016907082_663028,step_1,2017-03-29 12:24:52,Test,7.0,87.0,38.5,Unknown,3.0,767141.47,2.0,5.0
68,2354414,146216735_55070797578,71074670_81016907082_663028,start,2017-03-29 12:24:37,Test,7.0,87.0,38.5,Unknown,3.0,767141.47,2.0,5.0
69,949210,591670455_4193241312,205836248_53279938801_198414,confirm,2017-04-05 19:50:06,Test,29.0,355.0,54.5,M,4.0,1219029.31,4.0,7.0
70,949210,591670455_4193241312,26721459_64736035042_287800,step_3,2017-04-05 19:49:17,Test,29.0,355.0,54.5,M,4.0,1219029.31,4.0,7.0
71,949210,591670455_4193241312,26721459_64736035042_287800,step_2,2017-04-05 19:48:26,Test,29.0,355.0,54.5,M,4.0,1219029.31,4.0,7.0
72,949210,591670455_4193241312,26721459_64736035042_287800,step_1,2017-04-05 19:47:50,Test,29.0,355.0,54.5,M,4.0,1219029.31,4.0,7.0
73,949210,591670455_4193241312,26721459_64736035042_287800,start,2017-04-05 19:47:46,Test,29.0,355.0,54.5,M,4.0,1219029.31,4.0,7.0
74,9988021,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 18:54:43,Test,5.0,64.0,79.0,Unknown,2.0,189023.86,1.0,4.0
75,9988021,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 18:38:42,Test,5.0,64.0,79.0,Unknown,2.0,189023.86,1.0,4.0
76,9988021,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 18:22:40,Test,5.0,64.0,79.0,Unknown,2.0,189023.86,1.0,4.0
77,9988021,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 18:06:39,Test,5.0,64.0,79.0,Unknown,2.0,189023.86,1.0,4.0
78,9988021,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 17:50:38,Test,5.0,64.0,79.0,Unknown,2.0,189023.86,1.0,4.0
79,9987707,604265252_20524928838,844693700_54274198336_807869,confirm,2017-03-29 13:55:54,Test,28.0,341.0,46.5,M,3.0,88607.54,6.0,9.0
80,9987707,604265252_20524928838,844693700_54274198336_807869,step_3,2017-03-29 13:54:59,Test,28.0,341.0,46.5,M,3.0,88607.54,6.0,9.0
81,9987707,604265252_20524928838,844693700_54274198336_807869,step_2,2017-03-29 13:54:08,Test,28.0,341.0,46.5,M,3.0,88607.54,6.0,9.0
82,9987707,604265252_20524928838,844693700_54274198336_807869,step_1,2017-03-29 13:53:59,Test,28.0,341.0,46.5,M,3.0,88607.54,6.0,9.0
83,9987707,604265252_20524928838,844693700_54274198336_807869,start,2017-03-29 13:53:50,Test,28.0,341.0,46.5,M,3.0,88607.54,6.0,9.0
84,9987707,604265252_20524928838,844693700_54274198336_807869,step_1,2017-03-29 13:32:04,Test,28.0,341.0,46.5,M,3.0,88607.54,6.0,9.0
85,9987707,604265252_20524928838,844693700_54274198336_807869,start,2017-03-29 13:31:55,Test,28.0,341.0,46.5,M,3.0,88607.54,6.0,9.0
86,2709011,589277427_92692218515,498645027_86396077425_345948,confirm,2017-04-13 10:21:08,Test,7.0,94.0,44.5,Unknown,2.0,40123.13,6.0,9.0
87,2709011,589277427_92692218515,498645027_86396077425_345948,step_3,2017-04-13 10:20:47,Test,7.0,94.0,44.5,Unknown,2.0,40123.13,6.0,9.0
88,2709011,589277427_92692218515,498645027_86396077425_345948,step_2,2017-04-13 10:20:13,Test,7.0,94.0,44.5,Unknown,2.0,40123.13,6.0,9.0
89,2709011,589277427_92692218515,498645027_86396077425_345948,step_1,2017-04-13 10:19:53,Test,7.0,94.0,44.5,Unknown,2.0,40123.13,6.0,9.0
90,2709011,589277427_92692218515,498645027_86396077425_345948,start,2017-04-13 10:19:47,Test,7.0,94.0,44.5,Unknown,2.0,40123.13,6.0,9.0
91,2709011,589277427_92692218515,498645027_86396077425_345948,start,2017-04-13 10:19:40,Test,7.0,94.0,44.5,Unknown,2.0,40123.13,6.0,9.0
92,2709011,589277427_92692218515,498645027_86396077425_345948,start,2017-04-13 10:19:24,Test,7.0,94.0,44.5,Unknown,2.0,40123.13,6.0,9.0
93,4507502,181973728_74713662041,854832377_30146752670_593738,confirm,2017-04-03 23:02:41,Test,5.0,70.0,30.5,Unknown,2.0,51882.22,2.0,6.0
94,4507502,181973728_74713662041,854832377_30146752670_593738,confirm,2017-04-03 23:01:33,Test,5.0,70.0,30.5,Unknown,2.0,51882.22,2.0,6.0
95,4507502,181973728_74713662041,854832377_30146752670_593738,confirm,2017-04-03 22:59:59,Test,5.0,70.0,30.5,Unknown,2.0,51882.22,2.0,6.0
96,9988021,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 17:34:37,Test,5.0,64.0,79.0,Unknown,2.0,189023.86,1.0,4.0
97,9988021,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 16:57:27,Test,5.0,64.0,79.0,Unknown,2.0,189023.86,1.0,4.0
98,2317698,569956778_83279593828,880943993_31646200887_301153,confirm,2017-04-12 16:28:23,Test,15.0,184.0,42.5,F,2.0,116894.92,5.0,8.0
99,2317698,569956778_83279593828,880943993_31646200887_301153,step_3,2017-04-12 16:27:49,Test,15.0,184.0,42.5,F,2.0,116894.92,5.0,8.0

In [ ]:
# clean non experient group df: remove all those rows(112 rows) which value are null for anyone of below column:
#df_non_expe_cleaned = df_non_expe.dropna(subset=['clnt_tenure_yr','clnt_tenure_mnth','clnt_age','gendr','num_accts','bal','calls_6_mnth','logons_6_mnth'])
# clean experient group df
#df_expe.loc[df_expe['clnt_tenure_mnth']>12,'clnt_tenure_mnth']=df_expe['clnt_tenure_mnth'] % 12

In [144]:
# Completion Rate for control and test groupï¼š

total_users_control =df_control['client_id'].nunique()
cfm_user_control = df_control[df_control['process_step']=='confirm']['client_id'].nunique()
completion_rate_control = round((cfm_user_control/total_users_control)*100,2)
print(f"completion rate for control group customer is:{completion_rate_control}%")

total_users_test =df_test['client_id'].nunique()
cfm_user_test = df_test[df_test['process_step']=='confirm']['client_id'].nunique()
completion_rate_test = round((cfm_user_test/total_users_control)*100,2)
print(f"completion rate for test group customer is: {completion_rate_test}%")

completion rate for control group customer is:65.59%
completion rate for test group customer is: 79.41%

In [148]:
# Error Rate for test group according to column 'visitor_id'

df_test['date_time'] = pd.to_datetime(df_test['date_time'])
step_orde_dict ={0:'start',1:'step_1',2:'step_2',3:'step_3',4:'confirm'}
reverse_step_orde_dict = {value:key for key,value in step_orde_dict.items()}
# insert a column 
df_test['step_order'] = df_test['process_step'].map(reverse_step_orde_dict)
df_test = df_test.sort_values(by=['visitor_id','date_time'])

def operate_error(group):
    return (group['step_order'].diff() <0).sum()>0
errors = df_test.groupby('visitor_id').apply(operate_error)

num_errors = errors.sum()
total_visitors = df_test['visitor_id'].nunique()

error_rate = round((num_errors/total_visitors)*100,2)
print(f" Error rates for test group is: {error_rate}%")


# Error Rate for control group 

df_control['date_time'] = pd.to_datetime(df_control['date_time'])
step_orde_dict ={0:'start',1:'step_1',2:'step_2',3:'step_3',4:'confirm'}
reverse_step_orde_dict = {value:key for key,value in step_orde_dict.items()}
# insert a column 
df_control['step_order'] = df_control['process_step'].map(reverse_step_orde_dict)
df_control = df_control.sort_values(by=['visitor_id','date_time'])

def operate_error(group):
    return (group['step_order'].diff() <0).sum()>0
errors = df_control.groupby('visitor_id').apply(operate_error)

num_errors = errors.sum()
total_visitors = df_control['visitor_id'].nunique()

error_rate = round((num_errors/total_visitors)*100,2)
print(f" Error rates for control group is: {error_rate}%")

C:\Users\dell\AppData\Local\Temp\ipykernel_17880\1481961352.py:12: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  errors = df_test.groupby('visitor_id').apply(operate_error)

 Error rates for test group is: 34.1%
 Error rates for control group is: 29.28%

C:\Users\dell\AppData\Local\Temp\ipykernel_17880\1481961352.py:32: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  errors = df_control.groupby('visitor_id').apply(operate_error)